#top_title {
    text-align: center;
}

.mid_content {
    padding-left: 36px;
    padding-right: 36px;
}

.profile_area {
    display: flex;
    align-items: center;
}

.profile_area_item {
    display: inline-block;
    /*align-self: center;*/
    /*background-color: yellow;*/
}

.profile_area_item #profile_img {
    padding: 8px;
    margin: 6px;
    width: 70px;
    align-self: stretch;
}

.profile_area_info {
    padding-left: 12px;
    border-left: 2px solid #000;
    /* background-color: yellow;*/
}

.project_grid {
    display: grid;

    background-color: yellow;
    padding: 8px;
    border: 2px solid black;
    border-radius: 6px;
    /* grid-template-columns: 200px 200px 500px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    row-gap: 10px;
    column-gap: 10px;

    justify-items: stretch; /* 가로 방향 정렬 */
    align-items: stretch; /* 세로 방향 정렬 */
}

.item {
    /* width: 80px; */
    height: 80px;
    border-radius: 6px;
    background-color: orange;
    border: 2px solid black;
    text-align: center;
    font-size: 16px;
}

.project_desc {
    background-color: yellow;
    min-height: 100px;
    margin-top: 10px;
    white-space: pre-line;
}
