header {
    position: sticky;
    top: 0px;
    background-color: #F2F2F2;
    box-shadow: 0px 2px 8px grey;
    z-index: 1000;
    margin: 0px;
    padding: 16px;
}

.header_content {
    display: flex;
    align-items: center;
    height: 40px;
}

.header_logo {
    margin-left: 4px;
    display: flex;
    align-items: center;
}

#header_logo_img {
    width: 22px;
    margin-right: 6px;
}

#header_logo_name {
    margin: 0;
    font-size: 26px;
}

nav {
    margin-left: auto;
    align-content: center;
}

nav > ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    font-size: 16px;
    font-weight: bold;
    padding: 12px;
    margin-right: 4px;
    color: #0D0D0D;
}

nav li a:hover {
    text-decoration: underline;
}