#history_class {
    margin: 10px 10px;
    position: relative;
}

#history_class:before {
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    padding: 20px 0;
    width: 4px;
    height: 98%;
    background-color: #666;
}

#history_class li { 
    position: relative;
    margin-bottom:20px;
}

#history_class .year {
    list-style: none;
    font-size: 18px;
}

#history_class .year:before {
    content: "";
    position: absolute;
    border-radius: 25%;
    background-color: #ff5a2b;
    border: 4px solid #ff5a2b;
    left: -37px;
    top: 37%;
    width: 20px;
}

#history_class li h4 {
    margin-bottom: 5px;
    margin-top: 0px;
    font-size:18px;
    color: #3f454b;
    font-weight: bold;
}

#history_class li p {
    margin: 10px 5px;
    font-size: 15px;
    line-height: 1.7;
    letter-spacing: 0.01rem;
    color: #707984;
    /*word-break: keep-all;*/
}

#history_class li span{position:relative; display: block; margin-top:20px; width: 320px; height: 180px; background:#dfdfdf}
#history_class li span:before{ content:'images box'; position:absolute; top:50%; left:50%; margin-top:-15px; margin-left: -35px; font-size:14px;}