.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.header_side_button {
  margin-left: auto;
  display: none;
}

.header_side_button:hover {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header_side_button {
    display: inline-block;
  }
  .header_nav {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header_content {
    margin: 0 auto;
    width: 1200px;
  }
  .mid_content {
    margin: 0 auto;
    width: 1200px;
  }
}

body {
  background-color: #f2f2f2;
  margin: 0px;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.mid_content {
  padding-left: 36px;
  padding-right: 36px;
  padding-bottom: 36px;
}

#profile_section {
  display: flex;
  align-items: center;
}

#profile_img {
  padding: 8px;
  margin: 8px;
  width: 70px;
}

.profile_content {
  margin-top: 6px;
  padding: 6px;
}

@media screen and (max-width: 550px) {
  #profile_section {
    flex-direction: column;
  }
  .profile_content {
    border-top: 2px solid #0d0d0d;
    padding-top: 8px;
  }
}

@media screen and (min-width: 551px) {
  .profile_content {
    border-left: 2px solid #0d0d0d;
    padding-left: 12px;
  }
}

.profile_content_name {
  display: flex;
  align-items: center;
}

.profile_content_desc p {
  margin: 8px 0px;
}

#project_grid {
  display: grid;
  padding: 10px;
  /* grid-template-columns: 200px 200px 500px; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 10px;

  justify-items: stretch; /* 가로 방향 정렬 */
  align-items: stretch; /* 세로 방향 정렬 */
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 62px;
  border-radius: 6px;
  background-color: #f2ca80;
  border: 2px solid grey;
  font-size: 1rem;
  font-weight: bold;
  word-break: keep-all;
}

.item:hover {
  cursor: pointer;
}

.project_desc {
  min-height: 100px;
  margin-top: 12px;
  white-space: pre-line;
  font-size: 16px;
}

.project_desc > a {
  text-decoration: underline;
}

p > a {
  text-decoration: underline;
  font-weight: bold;
}

.link_area {
  font-weight: bold;
}

.link_item:hover {
  text-decoration: underline;
}